.search-div {
    border-radius: 2px;
    background-color: seashell;
    padding: 40px;
    padding-bottom: 0;
}

.search {
    margin-bottom: 20px;
}

.powered-by {
    margin-top: 25px;
    font-style: italic;
    margin-bottom: 0;
}

.recipe-box {
    height: 410px;
    border-radius: 2px;
    overflow-x: scroll;
    background-color: seashell;
    margin: 0 11px;
}

.header {
    background-color: seashell;
    width: 100%;
    margin-bottom: 0;
    margin-top: 20px;
}

body {
    background-image: url("../images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 80%;
}

.zip-div {
    background-color: seashell;
    border-radius: 2px;
    padding-bottom: 10px;
    padding: 20px;
    margin: 20px 0 0 0;
    width: 100%;
}

.zip {
    margin: 0;
}

.header,
.search-div,
.zip-div,
.recipe-box {
    box-shadow: 1px 2px 14px 2px #404040;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.carousel {
    margin-bottom: 20px;
    max-height: 300px;
}

.logo{
    width:100px;
    height:50px;
}

.imgheader {
    max-width: 100%;
    max-height: 100%;
}

#course-dropdown {
    padding: 0;
}

#dish-btn {
    margin-top: 30px;
}

.advanced-search {
    padding: 0;
    display: none;
}

#advanced-button {
    display: block;
    background-color: #f1ceb7;
    box-shadow: none;
}